#navbardrop {
    color: #FFFFFF;
}

.nav-item {
    margin-left: 18px;
}

.dropdown-menu a {
    background-color: #0C85C7;
}

#navbar {
    position: sticky;
    top: -100%;
    width: 100%;
    display: block;
    transition: top 0.2s;
}

#navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
}

#navbar a:hover {
    background-color: #01486F;
}

#title a {
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    padding: 20px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 15px;
    color: #0A0A0A;
}

#title a i {
    font-size: 18px;
    color: red;
}

#title a i:hover {
    font-size: 20px;
}

#end a {
    text-decoration: none;
    color: #000000;
}

#end a:hover {
    color: #2698D6;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.footer-bar {
    background-color: #31708f;
    width: 100%;
    height: 50px;
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
}