/* KHOALAMSAN */
footer {
	width: 100%;

}

footer.footer-body {
	background-color: #0c85c7;

}

footer.footer-body h4 {
	color: white;
	font-weight: bold;
	padding-bottom: 20px;
}

footer.footer-body i {
	color: #2140e6;
}

div.col-md-4 {
	text-align: left;
	color:white;
  padding: 40px;
}
div.end-footer{
  padding-bottom: 5px;
}
div.copyright{
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
div#navbar{
  background-color: #0c85c7;
  padding: 10px;
}
div#navbar.navbar-collapse.collapse a{
  color: white;
  font-weight: bold;
}
div#navbar.navbar-collapse.collapse li:hover{
  background-color: #01486f;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu{
background-color: #0c85c7;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu a{
font-weight: lighter;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu a:hover{
background-color: #01486f;
color: white;
}
.bv:not(:last-of-type)::after {
  content: ' ';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  height: 50%;
  width: 2px;
  background-color: #4AAADE;
}

.card {
  background: #e7e9eb;
  width: 100%;
}

.card img {
  width: 100%;
  height: 200px;
}

.card i {
  background: #2698D6;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  padding: 20px;
}

.card a {
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: black;
}

.card li {
  list-style: none;
  display: flex;
  padding: 10px;
}

.col-lg-3 {
  padding-left: 10px;
  padding-bottom: 10px;
}

.nav.nav-pills {
  padding: 20px;
  padding-left: 250px;
  position: relative;
}
