*{
  margin: 0;
  padding: 0;
}
footer{
  width: 100%;
}
footer.footer-body{
  background-color: #d9edf7;
  padding-top: 20px;
}
footer.footer-body h4{
  color: #31708f;
  font-weight: bold;
  padding-bottom: 30px;
}
footer.footer-body i{
  color: #2140e6;
}
.footer-bar{
  background-color: #31708f;
  width: 100%;
  height: 50px;
}
.copyright{
  text-align: center;
  color: white;
  padding-top: 10px;
}
div#navbar{
  background-color: #d9edf7;
}
div#navbar.navbar-collapse.collapse a{
  color: #31708f;
  font-weight: bold;
}
div#navbar.navbar-collapse.collapse li:hover{
  background-color: #afe3fd;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu{
background-color: #d9edf7;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu a{
font-weight: lighter;
}
div#navbar.navbar-collapse.collapse ul.dropdown-menu a:hover{
background-color: #afe3fd;
color: white;
}
